/* Coolors Exported Palette - coolors.co/c5dac1-8ed081-3f7a5f-656565-a1fcdf */

/* HSL */
$color1: hsla(110%, 25%, 81%, 1);
$color2: hsla(110%, 46%, 66%, 1);
$color3: hsla(153%, 32%, 36%, 1);
$color4: hsla(0%, 0%, 40%, 1);
$color5: hsla(161%, 94%, 81%, 1);

/* RGB */
$color1: rgba(197, 218, 193, 1);
$color2: rgba(142, 208, 129, 1);
$color3: rgba(63, 122, 95, 1);
$color4: rgba(101, 101, 101, 1);
$color5: rgba(161, 252, 223, 1);