main {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #C5DAC1;
  width: 505px;
}

wrapper {
  border: solid 10px black;
  height: 600px;
  
}
header {
  border: solid 2px black;
  background-color: #656565;
  text-align: center;
  height: 120px;
  width: 501px;
}

input {
  border: solid 2px black;
  margin-bottom: 10px;
  padding: 5px;
  width: 20%;
}

#resetBtn {
  width: 45px;
  padding: 5px;
  margin-left: 5px;
  font-weight: bold;
  background-color: lightgray;

}

#customTip {
  border: solid 1px black;
  margin-left: 10px;
  padding: 5px;
  width: 8%;
}

h3 {
  margin: 5px;
  padding-left: 3px;
}

p {
  width: 50%;
  margin: 10px;
}

#tip-list div {
  height: 115px;
  padding: 10px;
}

#ten {
  border: solid 2px black;
}

#fifteen {
  border: solid 2px black;
}

#twenty {
  border: solid 2px black;
}

#twentyFive {
  border: solid 2px black;
}

#custom {
  border: solid 2px black;
  border-bottom: solid 4px black;
}

button {
  border: solid 2px #3F7A5F;
  float: right;
  padding: 10px;
  background-color: lightgray;
  
}

